<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-hamburger"></i>&nbsp; Burger Boss</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                style="background-image: url('https://images.unsplash.com/photo-1551782450-a2132b4ba21d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">The Classic</h2>
                    <p class="lead">Through the garden. No frills.</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1536748240857-8179775c9a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Black Bun Burger</h2>
                    <p class="lead">Spookylicious.</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1541544537156-7627a7a4aa1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Pulled Pork Perfection</h2>
                    <p class="lead">Low and slow. Good things come to those who wait.</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1547647407-abdebee2811b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-5">The Black Bean Cucumber</h2>
                    <p class="lead">100% Vegan, 100% Awesome.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">

    <h1>Eat-Da-Burger</h1>

    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="name">Burger Name:</label>
            <input type="text" id="name-input" name="name">
        </div>

        <div class="form-group">
            <label for="devoured-check">Have you eaten it?</label><br>
            <input type="radio" name="devoured-check" value="1" checked> Devoured!<br>
            <input type="radio" name="devoured-check" value="0"> Not yet
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>



<div class="not-devoured">
    <h3>These burgers are not devoured</h3>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger_li devour=true}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="devoured">
    <h3>These burgers are devoured</h3>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burger_li devour=false}}
        {{/if}}
        {{/each}}
    </ul>
</div>